
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffffffd8;
    color: #333333;
}

h1, h2, h3 {
    font-weight: 300;
    letter-spacing: 1px;
}

.header {
    padding: 5px;
    background-color: #c7c7c7;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.section {
    padding: 60px 20px;
    background-color: #c9c9c9;
    border-top: 1px solid #000000;
    border-bottom: solid 1px #000000;
}

.footer {
    padding: 5px;
    background-color: #a2d0f9;
    border-top: 1px solid #000000;
    border-bottom: solid 1px #000000;
}

a {
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid #000000;
    transition: all 0.3s;
}

a:hover {
    color: #1e8bf7;
    border-bottom-color: #2f5cff;
}